In [30]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

data_train = pd.read_csv('happiness_train_abbr.csv')
data_train.head()[:3]

,id,happiness,survey_type,province,city,county,survey_time,gender,birth,nationality,...,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
0,1,4,1,12,32,59,2015/8/4 14:18,1,1959,1,...,60000.0,2,2,1,2,3,3,2,4,3
1,2,4,2,18,52,85,2015/7/21 15:04,1,1992,1,...,40000.0,3,4,1,2,1,1,1,4,2
2,3,4,2,29,83,126,2015/7/21 13:24,2,1967,1,...,8000.0,3,3,1,2,3,2,1,4,2

In [31]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 42 columns):
id                 8000 non-null int64
happiness          8000 non-null int64
survey_type        8000 non-null int64
province           8000 non-null int64
city               8000 non-null int64
county             8000 non-null int64
survey_time        8000 non-null object
gender             8000 non-null int64
birth              8000 non-null int64
nationality        8000 non-null int64
religion           8000 non-null int64
religion_freq      8000 non-null int64
edu                8000 non-null int64
income             8000 non-null int64
political          8000 non-null int64
floor_area         8000 non-null float64
height_cm          8000 non-null int64
weight_jin         8000 non-null int64
health             8000 non-null int64
health_problem     8000 non-null int64
depression         8000 non-null int64
hukou              8000 non-null int64
socialize          8000 non-null int64
relax              8000 non-null int64
learn              8000 non-null int64
equity             8000 non-null int64
class              8000 non-null int64
work_exper         8000 non-null int64
work_status        2951 non-null float64
work_yr            2951 non-null float64
work_type          2951 non-null float64
work_manage        2951 non-null float64
family_income      7999 non-null float64
family_m           8000 non-null int64
family_status      8000 non-null int64
house              8000 non-null int64
car                8000 non-null int64
marital            8000 non-null int64
status_peer        8000 non-null int64
status_3_before    8000 non-null int64
view               8000 non-null int64
inc_ability        8000 non-null int64
dtypes: float64(6), int64(35), object(1)
memory usage: 2.6+ MB

In [32]:
data_train.describe()

,id,happiness,survey_type,province,city,county,gender,birth,nationality,religion,...,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
count,8000.00000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.00000,8000.000000,8000.00000,8000.000000,...,7.999000e+03,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.000000,8000.00000,8000.000000
mean,4000.50000,3.850125,1.405500,15.155375,42.564750,70.619000,1.53000,1964.707625,1.37350,0.772250,...,6.776050e+04,2.882500,2.595875,1.063625,1.817125,3.234375,2.226125,1.702500,3.30350,1.094875
std,2309.54541,0.938228,0.491019,8.917100,27.187404,38.747503,0.49913,16.842865,1.52882,1.071459,...,2.909591e+05,1.521835,1.077011,0.789402,0.511825,1.423182,0.971525,0.976147,1.98132,3.410180
min,1.00000,-8.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1921.000000,-8.00000,-8.000000,...,-3.000000e+00,-3.000000,-8.000000,-3.000000,-8.000000,1.000000,-8.000000,-8.000000,-8.00000,-8.000000
25%,2000.75000,4.000000,1.000000,7.000000,18.000000,37.000000,1.00000,1952.000000,1.00000,1.000000,...,1.300000e+04,2.000000,2.000000,1.000000,2.000000,3.000000,2.000000,1.000000,3.00000,2.000000
50%,4000.50000,4.000000,1.000000,15.000000,42.000000,73.000000,2.00000,1965.000000,1.00000,1.000000,...,3.800000e+04,3.000000,3.000000,1.000000,2.000000,3.000000,2.000000,2.000000,4.00000,2.000000
75%,6000.25000,4.000000,2.000000,22.000000,65.000000,104.000000,2.00000,1977.000000,1.00000,1.000000,...,7.000000e+04,4.000000,3.000000,1.000000,2.000000,3.000000,3.000000,2.000000,4.00000,3.000000
max,8000.00000,5.000000,2.000000,31.000000,89.000000,134.000000,2.00000,1997.000000,8.00000,1.000000,...,9.999992e+06,50.000000,5.000000,30.000000,2.000000,7.000000,3.000000,3.000000,5.00000,4.000000

In [33]:
data_train['family_income'] = data_train['family_income'].fillna(data_train['family_income'].mean())

In [34]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8000 entries, 0 to 7999
Data columns (total 42 columns):
id                 8000 non-null int64
happiness          8000 non-null int64
survey_type        8000 non-null int64
province           8000 non-null int64
city               8000 non-null int64
county             8000 non-null int64
survey_time        8000 non-null object
gender             8000 non-null int64
birth              8000 non-null int64
nationality        8000 non-null int64
religion           8000 non-null int64
religion_freq      8000 non-null int64
edu                8000 non-null int64
income             8000 non-null int64
political          8000 non-null int64
floor_area         8000 non-null float64
height_cm          8000 non-null int64
weight_jin         8000 non-null int64
health             8000 non-null int64
health_problem     8000 non-null int64
depression         8000 non-null int64
hukou              8000 non-null int64
socialize          8000 non-null int64
relax              8000 non-null int64
learn              8000 non-null int64
equity             8000 non-null int64
class              8000 non-null int64
work_exper         8000 non-null int64
work_status        2951 non-null float64
work_yr            2951 non-null float64
work_type          2951 non-null float64
work_manage        2951 non-null float64
family_income      8000 non-null float64
family_m           8000 non-null int64
family_status      8000 non-null int64
house              8000 non-null int64
car                8000 non-null int64
marital            8000 non-null int64
status_peer        8000 non-null int64
status_3_before    8000 non-null int64
view               8000 non-null int64
inc_ability        8000 non-null int64
dtypes: float64(6), int64(35), object(1)
memory usage: 2.6+ MB

## 线性回归

In [35]:
from sklearn.linear_model import LinearRegression 
from sklearn.cross_validation import KFold 

predictors = ['survey_type', 'province', 'city', 'gender', 'birth', 'nationality', 'religion', 'religion_freq', 'edu',
             'income', 'political', 'floor_area', 'height_cm', 'weight_jin', 'health', 'health_problem', 'depression',
             'hukou', 'socialize', 'relax', 'learn', 'equity', 'class', #'work_exper', 'work_status', 'work_yr', 'work_type', 'work_manage', 
             'family_income', 'family_m', 'family_status', 'house', 'car', 'marital', 'status_peer',
             'status_3_before', 'view', 'inc_ability' ]
alg = LinearRegression()
kf = KFold(data_train.shape[0], shuffle=False, random_state=1)

predictions = []
for train, test in kf:
    train_predictors = data_train[predictors].iloc[train, :]
    train_target = data_train['happiness'].iloc[train]
    alg.fit(train_predictors, train_target)
    test_predictions = alg.predict(data_train[predictors].iloc[test, :])
    predictions.append(test_predictions)
#     print(data_train['happiness'].iloc[train] - test_predictions)

In [36]:
predictions = np.concatenate(predictions, axis=0)
np.around(predictions)

array([4., 4., 4., ..., 4., 4., 4.])

In [37]:
sum((np.around(predictions) - predictions)**2)/8000

0.0738977490360095

In [38]:
data_test = pd.read_csv('happiness_test_abbr.csv')
# data_test.info()
# data_test.describe()

In [39]:
test_prediction = np.around(alg.predict(data_test[predictors]))
test_prediction

array([4., 3., 3., ..., 4., 4., 5.])

In [40]:
submit = pd.read_csv('happiness_submit.csv')
submit['happiness'] = test_prediction
submit.to_csv('happiness_submit.csv', index=False)

## 随机森林

In [98]:
from sklearn import model_selection 
from sklearn.ensemble import RandomForestClassifier 
from sklearn import tree

predictors = ['survey_type', 'province', 'city', 'gender', 'birth', 'nationality', 'religion', 'religion_freq', 'edu',
             'income', 'political', 'floor_area', 'height_cm', 'weight_jin', 'health', 'health_problem', 'depression',
             'hukou', 'socialize', 'relax', 'learn', 'equity', 'class', #'work_exper', 'work_status', 'work_yr', 'work_type', 'work_manage', 
             'family_income', 'family_m', 'family_status', 'house', 'car', 'marital', 'status_peer',
             'status_3_before', 'view', 'inc_ability' ]
clf = RandomForestClassifier(n_estimators=10)
clf.fit(data_train[predictors][:i], data_train['happiness'][:i])
predictions = clf.predict(data_train[predictors][i:])
predictions

array([4, 4, 5, ..., 4, 4, 4], dtype=int64)

In [101]:
sum(predictions == data_train['happiness'][6000:])/len(predictions)

0.5885