In [47]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
from scipy.stats import skew

In [179]:
train = pd.read_csv('happiness_train_complete.csv', encoding='gbk')
test = pd.read_csv('happiness_test_complete.csv', encoding='gbk')

In [180]:
train.head()

,id,happiness,survey_type,province,city,county,survey_time,gender,birth,nationality,religion,religion_freq,edu,edu_other,edu_status,edu_yr,income,political,join_party,floor_area,property_0,property_1,property_2,property_3,property_4,property_5,property_6,property_7,property_8,property_other,height_cm,weight_jin,health,health_problem,depression,hukou,hukou_loc,media_1,media_2,media_3,media_4,media_5,media_6,leisure_1,leisure_2,leisure_3,leisure_4,leisure_5,leisure_6,leisure_7,leisure_8,leisure_9,leisure_10,leisure_11,leisure_12,socialize,relax,learn,social_neighbor,social_friend,socia_outing,equity,class,class_10_before,class_10_after,class_14,work_exper,work_status,work_yr,work_type,work_manage,insur_1,insur_2,insur_3,insur_4,family_income,family_m,family_status,house,car,invest_0,invest_1,invest_2,invest_3,invest_4,invest_5,invest_6,invest_7,invest_8,invest_other,son,daughter,minor_child,marital,marital_1st,s_birth,marital_now,s_edu,s_political,s_hukou,s_income,s_work_exper,s_work_status,s_work_type,f_birth,f_edu,f_political,f_work_14,m_birth,m_edu,m_political,m_work_14,status_peer,status_3_before,view,inc_ability,inc_exp,trust_1,trust_2,trust_3,trust_4,trust_5,trust_6,trust_7,trust_8,trust_9,trust_10,trust_11,trust_12,trust_13,neighbor_familiarity,public_service_1,public_service_2,public_service_3,public_service_4,public_service_5,public_service_6,public_service_7,public_service_8,public_service_9
0,1,4,1,12,32,59,2015/8/4 14:18,1,1959,1,1,1,11,NaN,4.0,-2.0,20000,1,NaN,45.0,0,1,0,0,0,0,0,0,0,NaN,176,155,3,2,5,5,2.0,4,2,5,5,4,3,1,4,3,1,2,3,4,1,4,5,4,1,2,4,3,3.0,3.0,2,3,3,3,3,1,1,3.0,30.0,1.0,2.0,1,1,1,2,60000.0,2,2,1,2,0,1,0,0,0,0,0,0,0,NaN,1,0,0.0,3,1984.0,1958.0,1984.0,6.0,1.0,5.0,40000.0,5.0,NaN,NaN,-2,4,4,1,-2,4,1,1,3,2,4,3,50000.0,4,2,-8,-8,5,3,2,3,4,3,-8,4,1,4,50,60,50,50,30.0,30,50,50,50
1,2,4,2,18,52,85,2015/7/21 15:04,1,1992,1,1,1,12,NaN,4.0,2013.0,20000,1,NaN,110.0,0,0,0,0,1,0,0,0,0,NaN,170,110,5,4,3,1,1.0,2,2,1,3,5,1,2,3,4,3,5,4,3,2,3,4,5,1,2,4,3,6.0,2.0,1,3,6,4,8,5,1,3.0,2.0,1.0,3.0,1,1,1,1,40000.0,3,4,1,2,0,1,0,0,0,0,0,0,0,NaN,0,0,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1972,3,1,2,1973,3,1,2,1,1,4,2,50000.0,5,4,4,3,5,3,3,3,2,3,3,3,2,3,90,70,70,80,85.0,70,90,60,60
2,3,4,2,29,83,126,2015/7/21 13:24,2,1967,1,0,3,4,NaN,4.0,-2.0,2000,1,NaN,120.0,0,1,1,0,0,0,0,0,0,NaN,160,122,4,4,5,1,1.0,2,2,2,5,1,3,1,4,4,3,5,4,4,2,3,5,5,5,3,4,2,2.0,5.0,2,4,5,4,6,3,2,NaN,NaN,NaN,NaN,1,1,2,2,8000.0,3,3,1,2,0,1,0,0,0,0,0,0,0,NaN,0,2,1.0,3,1990.0,1968.0,1990.0,3.0,1.0,1.0,6000.0,3.0,NaN,NaN,-2,1,1,2,-2,1,1,2,2,1,4,2,80000.0,3,3,3,3,4,3,3,3,3,3,-8,3,1,4,90,80,75,79,80.0,90,90,90,75
3,4,5,2,10,28,51,2015/7/25 17:33,2,1943,1,1,1,3,NaN,4.0,1959.0,6420,1,NaN,78.0,0,0,0,1,0,0,0,0,0,NaN,163,170,4,4,4,1,2.0,2,1,1,5,1,1,1,5,2,4,5,4,5,1,1,5,5,5,2,4,4,1.0,6.0,1,4,5,5,7,2,4,NaN,NaN,NaN,NaN,2,2,2,2,12000.0,3,3,1,1,0,1,0,0,0,0,0,0,0,NaN,1,4,0.0,7,1960.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2,14,1,2,-2,1,1,2,2,1,3,2,10000.0,3,3,4,3,5,3,3,5,4,3,3,3,2,3,100,90,70,80,80.0,90,90,80,80
4,5,4,1,7,18,36,2015/8/10 9:50,2,1994,1,1,1,12,NaN,1.0,2014.0,-1,2,NaN,70.0,0,0,0,0,1,0,0,0,0,NaN,165,110,5,5,3,2,3.0,1,3,4,2,5,5,3,3,3,2,4,4,3,5,2,5,5,1,4,3,4,7.0,5.0,3,2,1,1,1,4,6,NaN,NaN,NaN,NaN,1,2,2,2,-2.0,4,3,1,1,0,1,0,0,0,0,0,0,0,NaN,0,0,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1970,6,1,10,1972,4,1,15,3,2,3,-8,200000.0,4,3,3,3,5,5,3,4,3,3,3,3,2,2,50,50,50,50,50.0,50,50,50,50

In [202]:
df = pd.concat((train, test))

In [203]:
train.corr()['happiness'].sort_values(ascending=False)

happiness      1.000000
depression     0.299933
class          0.267328
health         0.246979
equity         0.245552
                 ...
leisure_8     -0.059650
property_0    -0.080732
status_peer   -0.084743
leisure_9     -0.106339
invest_6            NaN
Name: happiness, Length: 136, dtype: float64

In [204]:
del_cols = ['id', 'happiness', 'survey_time']

In [205]:
df.drop(del_cols, axis=1, inplace=True)

In [206]:
num_to_str = ['survey_type', 'province', 'city', 'county', 'gender', 'nationality', 'religion',
              'edu', 'edu_status', 'political', 'join_party','health', 'health_problem', 'depression', 'hukou',
             'hukou_loc', 'socialize', 'relax','learn', 'social_neighbor', 'social_friend', 'socia_outing', 'equity', 'class',
             'class_10_before', 'class_10_after', 'class_14', 'work_exper', 'work_status', 'work_yr', 'work_type',
             'work_manage', 'family_status', 's_edu', 's_political', 's_hukou', 's_work_exper', 's_work_status', 's_work_type',
             'f_edu', 'f_political', 'f_work_14', 'm_edu', 'm_political', 'm_work_14', 'status_peer', 'status_3_before',
             'view', 'neighbor_familiarity']

In [207]:
for col in num_to_str:
    df[col] = df[col].fillna('None')
    df[col] = df[col].apply(str)

In [208]:
year_cols = ['birth', 'edu_yr', 'work_yr', 'marital_1st', 'marital_now', 'f_birth', 'm_birth']

In [209]:
for col in year_cols:
    df[col] = df[col].fillna('None')
    df[col] = df[col].apply(str)

In [210]:
other = ['edu_other', 'property_other', 'invest_other']

In [211]:
for col in other:
    df[col] = df[col].fillna('None')
    df[col] = df[col].apply(lambda x: x if x=='None' else '1')

In [214]:
num = ['religion_freq', 'income', 'floor_area', 'height_cm', 'weight_jin','family_income', 'family_m', 'house', 'car',
       'son', 'daughter', 'marital', 's_income', 'inc_ability']

In [223]:
for col in num:
    df[col] = df[col].apply(lambda x: 0 if x<0 else x)
    df[col] = df[col].fillna(0)
    if df[col].skew() > 1:
        df[col] = df[col].apply(np.log1p)

In [ ]:
'property_0'- 'property_8'
'media_1' - 'media_6'
'leisure_1' - 'leisure_12'
'insur_1 - insur_4'
'invest_1' - 'invest_8'
'trust_1'- 'trust_13'
'public_service_1' - 'public_service_9'

In [227]:
dum_cols = []
for col in df.columns:
    if ('property' in col) or 'media' in col or 'leisure' in col or 'insur' in col or 'invest' in col or 'trust' in col or 'public' in col:
        dum_cols.append(col)

In [235]:
df = pd.get_dummies(df)

In [245]:
df = df.fillna(df.mean())

In [246]:
x_train = df[:len(train)]
y = train['happiness']
x_test = df[len(train):]

## model

In [247]:
from sklearn.linear_model import Ridge, RidgeCV, ElasticNet, LassoCV, Lasso 
from sklearn.model_selection import cross_val_score 
import lightgbm as lgb

def acc(model):
    score = cross_val_score(model, x_train, y, scoring='accuracy', cv=5)
    return score

In [264]:
lgr = lgb.LGBMClassifier(objective='Regressor',
                         num_leaves=20,
                         min_data_in_leaf=20,
                         max_depth=6,
                         learning_rate=0.01,
                         min_child_samples=30,
                         feature_fraction=0.8,
                         bagging_freq=1,
                         bagging_fraction=0.8,
                         bagging_seed=11,
#                          metric='mse',
                         lambda_l1=0.1,
                         n_estimators=1000,
                       )
score = acc(lgr)

In [265]:
print(score)

[0.635    0.63625  0.625    0.630625 0.6275  ]

In [257]:
lgr = lgr.fit(x_train, y)
pred = lgr.predict(x_test)

In [258]:
sub = pd.DataFrame()
sub[id] = test.id 
sub['happiness'] = pred
sub.to_csv('submission_2020_03_07.csv', index=False)

In [ ]:
'boosting_type': 'gbdt',
         'num_leaves': 20,
         'min_data_in_leaf': 20, 
         'objective':'regression',
         'max_depth':6,
         'learning_rate': 0.01,
         "min_child_samples": 30,
         "feature_fraction": 0.8,
         "bagging_freq": 1,
         "bagging_fraction": 0.8 ,
         "bagging_seed": 11,
         "metric": 'mse',
         "lambda_l1": 0.1,
         "verbosity": -1